{% extends "base.html" %}

{% set display_columns = [
    "score",
    "address",
    "area",
    "rent",
    "disposition",
    "garden",
    "balcony",
    "cellar",
    "loggie",
    "elevator",
    "terrace",
    "garage",
    "parking",
    "poi_distance",
    "url",
] %}

{% block content %}
    <h1>Real Estate Listings</h1>
    <form method="post">
        <table border="1">
            <tr>
                {% for col in display_columns %}
                    {% if col in sorting_columns %}
                        <th>
                            {{ col }}
                            <button name='{{ col + "_button" }}'' value="-">-</button>
                            {{ preferences["weight_" + col] }}
                            <button name='{{ col + "_button" }}' value="+">+</button>
                        </th>
                    {% else %}
                        <th>{{ col }}</th>
                    {% endif %}
                {% endfor %}
            </tr>
            {% for row in listings_df.iterrows() %}
            <tr>
                {% for col in display_columns %}
                    
                    {% if col == 'url' %}
                        <td><a href="{{ row[1][col] }}">{{ row[1][col] }}</a></td>
                    {% else %}
                        <td>{{ row[1][col] }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </form>
    </table>
{% endblock %}