{% extends "base.html" %}

{% block content %}
    <h1>Real Estate Listings</h1>
    <form method="post">
        <table border="1">
            <tr>
                <th>sum</th>
                <th>address</th>
                <th>
                    rent</br>
                    <button name="rent_button" value="-">-</button>
                    {{ preferences.weight_rent }}
                    <button name="rent_button" value="+">+</button>
                </th>
                <th>disposition</th>
                <th>
                    area</br>
                    <button name="area_button" value="-">-</button>
                    {{ preferences.weight_area }}
                    <button name="area_button" value="+">+</button>
                </th>
                <th>
                    POI Distance</br>
                    <button name="poi_distance_button" value="-">-</button>
                    {{ preferences.weight_poi_distance }}
                    <button name="poi_distance_button" value="+">+</button>
                </th>
                <th>url</th>
            </tr>
            
            {% for row in listings_df.iterrows() %}
            <tr>
                <td>{{ row[1]['sum'] }}</td>
                <td>{{ row[1]['address'] }}</td>
                <td>{{ row[1]['rent'] }}</td>
                <td>{{ row[1]['disposition'] }}</td>
                <td>{{ row[1]['area'] }}</td>
                <td>{{ row[1]['poi_distance'] }}</td>
                <td><a href="{{ row[1]['url'] }}">{{ row[1]['url'] }}</a></td>
            </tr>
            {% endfor %}
        </form>
    </table>
{% endblock %}