{% extends "base.html" %}

{% block content %}
    <h1>User Preferences</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {% if field.type != "SubmitField" %}
                <div class="form-group">
                    {{ field.label }}<br>
                    {{ field(class="form-control") }}<br>
                    {% if field.errors %}
                        <ul class="errors">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-group">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
{% endblock %}